    <footer>
        <div class="row">
            <div class="col">
                <h1>Abot me </h1>
                <p>
                    Do you want to even more successfuly 
                </p>
                <p>
                    Copyright@2023 Allrights reserved 
                </p>
            </div>
            <div class="col">
                <h1>
                    Newsletter
                </h1>
                <p>
                    Stay updated with the subscription
                </p>
                <input type="text">
            </div>
            <div class="col">
                <h1>
                    Foolow me !
                </h1>
                <div>
                    <ul>
                        <li><a>facebook</a></li>
                        <li><a>instagram</a></li>
                        <li><a>linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
    

</html>