<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: blue;
            color: white;
            background: linear-gradient(90deg , #7642ff, #d2001a );
            background-size: 200% 200%;
        }
        .nav-head ul {
            list-style-type: none;
            background-color: #663366;
            padding: 0;
            margin: 0;
            text-align: right;
        }
        
        .nav-head li{
            display: inline-block;
            /* background-color: brown;
            padding: 1rem;
            margin: 1rem; */
        }

        .nav-head a {
            text-decoration: none;
            width: 100px;
            color: white;
            display: block;
            padding: 25px 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
        .nav-head a:hover{
            background-color: antiquewhite;
            color: black;
        }

        article {
            background-color: blueviolet;
        }

        footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 100px 0 30px;
            font-size: 13px;
        }

        .row {
            width: 100%;
            margin: auto;
            background-color: black;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }

        .col{
            /* flex-basis: 25%; */
            padding: 25px;
        }

        .col h1 {
            width: fit-content;
            margin-bottom: 40px;
            position: relative;
        }

        .col p {
            width: fit-content;
            margin-bottom: 30px;
            position: relative;
        }

        .col ul li {
            list-style-type: none;
            margin-bottom: 12px;
        }

        .col ul li {
            text-decoration: none;
            color: white;
        }

    

    </style>
</head>
