<header>
    <nav class="nav-head">
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/about">About </a></li>
            <li><a href="/education">Education </a></li>
            <li><a href="/skills">Skills </a></li>
            <li><a href="/contact">Contact </a></li>
            <li><a href="/etc">ETC</a></li>
        </ul>
    </nav>
</header>