<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="timeline">
            <div class="container left-container">
                <div class="text-box">
                    <h2> IBM Indian Pvt Limited</h2>
                    <p>September 2021 to Present</p>
                    <p>Application Develoepr - SAP Basis</p>
                    <p>Description of responsibilities</p>
                </div>
            </div>
            <div class="container right-container">
                <div class="text-box">
                    <h2> Borok Tv</h2>
                    <p>September 2019 to December 2019</p>
                    <p>Android Application Develoepr </p>
                    <p>Description of responsibilities</p>
                </div>
            </div>
            <div class="container left-container">
                <div class="text-box">
                    <h2> Institute of Engineering and Technology </h2>
                    <p>August 2014 to July 2019 </p>
                    <p>Bacholors of Technology - Compututer Science and Engineering </p>
                    <p>Major</p>
                </div>
            </div>
            <div class="container right-container">
                <div class="text-box">
                    <h2> Assam Rifles Nodla School </h2>
                    <p>2003 to 2013</p>
                    <p>Schooling </p>
                    <p>Description of responsibilities</p>
                </div>
            </div>
        </div>

        <!-- <ul>
            <li>
                <p>October 2022  to Present</p>
                <p>IBM </p>
                <p>System Engineer - Application Developer</p>
            </li>
            <li>
                <p>September 2021  to October 2022</p>
                <p>IBM </p>
                <p>Associate System Engineer</p>
            </li>
            <li>
                <p>September 2019 to November 2019</p>
                <p>Borok Tv</p>
                <p>Andriod Application Developer</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>August 2014 to July 2019</p>
                <p>Institute of Engineering and Technology, Lucknow </p>
                <p>Bacholors of Technology ,</p>
                <p>Computer Science and Engineering</p>
            </li>
            <li>
                <p>2011 to 2013</p>
                <p>Assam Rifles NOdal School </p>
                <p>Higher Secondary - Science Stream</p>
            </li>
            <li>
                <p>2009 to 2010</p>
                <p>Assam Rilfes Public School </p>
                <p>Senior Secondary </p>
            </li>
        </ul> -->
    </main>
<%- include('includes/end.ejs') %>