<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Education Page </h1>
        <p>Please Add your education Here</p>
        <ul>
            <li>
                <p>October 2022  to Present</p>
                <p>IBM </p>
                <p>System Engineer - Application Developer</p>
            </li>
            <li>
                <p>September 2021  to October 2022</p>
                <p>IBM </p>
                <p>Associate System Engineer</p>
            </li>
            <li>
                <p>September 2019 to November 2019</p>
                <p>Borok Tv</p>
                <p>Andriod Application Developer</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>August 2014 to July 2019</p>
                <p>Institute of Engineering and Technology, Lucknow </p>
                <p>Bacholors of Technology ,</p>
                <p>Computer Science and Engineering</p>
            </li>
            <li>
                <p>2011 to 2013</p>
                <p>Assam Rifles NOdal School </p>
                <p>Higher Secondary - Science Stream</p>
            </li>
            <li>
                <p>2009 to 2010</p>
                <p>Assam Rilfes Public School </p>
                <p>Senior Secondary </p>
            </li>
        </ul>
    </main>
<%- include('includes/end.ejs') %>