<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Education Page </h1>
        <p>Please Add your education Here</p>
    </main>
<%- include('includes/end.ejs') %>