<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <article>
            <img style="height: 30px; width:30px;">
            <h4>Hello Everybody , I AM</h4>
            <h1>Suvit Debbarma</h1>
            <h3>Application Developer</h3>
            <p>
                I am an Engineer graduate from institute of engineering and technology , 
                Lucknow. Working as at Tech firm in Bangalore India .  
            </p>

            <p> Date of birth </p>
            <p> Phone number </p>
            <P> Email addresss</P>
            <p> Native Adress - Tripura India</p>
        </article>
        
    </main>
<%- include('includes/end.ejs') %>