<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Skills PAge</h1>
        <article>
            <h2>Python</h2>
            <p>have Bla bla bla </p>
        </article>
        <article>
            <h2>HTML & CSS</h2>
            <p>have Bla bla bla </p>
        </article>
        <article>
            <h2>Java</h2>
            <p>have Bla bla bla </p>
        </article>
        <article>
            <h2>JavaScript</h2>
            <p>have Bla bla bla </p>
        </article>
    </main>
<%- include('includes/end.ejs') %>